.landing-about
  .hero-container
    %h2 
      “Crafted specially, giving attention to detail, this is a 
      celebration of creativity with guaranteed smoothness in UI/UX”
  .container{style: "padding: 0 1.5625rem"}
    %p{style: "margin-top:3rem"}
      The Fellowship App was founded in 2015 by two young men, 
      Austin Queen and Deus Duke, who both migrated to San Francisco from the 
      southeast to pursue careers in technology. After settling in the Bay Area, 
      they both realized how difficult it was to find a familiar church home in a 
      an area where they knew very few people. This challenge is what eventually 
      led to the creation of The Fellowship App. 
      %br/
      %br/
      The Fellowship App is the smartest way to find, connect and worship with 
      churches in your area. Whether you are new to a city, traveling for work,
      or simply looking for a new place to call home, The Fellowship App makes it 
      incredibly easy to find the church that’s right for you. 
      %br/
      %br/
      Found your church home already? Great! Now use The Fellowship App to stay 
      connected with your church both in and out of service with great features 
      like in-app live streaming, digital tithe &amp; offerings, synchronized calendar 
      and much more. 
      %br/
      %br/
      Sign up now to uplift your worship into the digital age!
    .row{style: "margin-top:4rem;margin-bottom:3rem"}
      .small-12.medium-6.column.text-center.medium-text-left
        .media-object
          .media-object-section
            .thumbnail
              = image_tag "landing/austin-profile.png"
          .media-object-section
            %h4 Austin Queen
            %p Founder &amp; CEO
      .small-12.medium-6.column.text-center.medium-text-left
        .media-object
          .media-object-section
            .thumbnail
              = image_tag "landing/deus-profile.png"
          .media-object-section
            %h4 Deus Duke
            %p Co-Founder &amp; CTO
  .container.bg-lightgrey{style: "padding-left:1.5625rem;padding-right:1.5625rem"}
    .row
      .medium-12.large-5
        %strong EXPLORE
        %h2 Sign Up Now for Free!
        %p.font-12
          Create a free profile for your church or sign-up for one of our premium accounts to unlock some amazing
          features. You can also sign-up as a worshipper to access churches in your area.
      .medium-12.large-7.text-right
        %blockquote.text-right
          %p{:style => "margin-bottom: 6px;"} "To have effective worship, you have to have the right kind of technology!"
          %footer - Pastor Mike Kiley (Home Church - Campbell, CA)

