.landing-contact
  .hero-container
    %h2.text-center
      Have a Question? Let us Help!
  .container.container-overlay
    - if flash[:notice]
      .success.callout.text-center
        %p
          = flash[:notice]
    - else
      .row
        .small-12
          %p.text-center
            Taking the first steps into any new technology can be daunting and 
            we want to help make your transition smooth and stress free. Send us a
            message with your questions or concerns and we will be sure to respond 
            promptly. 
            %br/
            %br/
            Please fill out the form below.
          = render "contact_form"

    .row.align-center{style: "margin-top: 4rem"}
      .columns.small-12.large-3.text-center.large-text-left
        %p.title
          SAN FRANCISCO
        %p
          288 Athens Street
          %br/
          San Francisco, CA 94112
      .columns.small-12.large-3.text-center.large-text-left
        %p.title
          OAKLAND
        %p
          1466 36th Ave
          %br/
          Oakland, CA 94601
      .columns.small-12.large-3.text-center.large-text-left
        %p.title
          PRESS &amp; PUBLIC RELATIONS
        %p
          %span{style: "font-size:0.9rem"} TELEPHONE
          %br/
          %a.dark_text{href: "tel:14157452347", color: "#969695"} 
            (415) 745-2347
        %p
          %span{style: "font-size:0.8rem"} EMAIL
          info@thefellowshipapp.com
