.profile-page.user-show
  .row.align-center
    .columns.small-12.medium-9
      .row.columns.cover-container
        .cover-picture
        .profile-picture
        .profile-title
          = react_component "UserNameContainer"
        .cover-header
          .row.align-right
            .columns.small-6.no-pad-right.z-index-10
            .columns.small-4.medium-2.no-pad-sides.z-index-9
              .hollow.secondary.expanded.button.top-button
                %i.fa.fa-home
                Join 
            .columns.small-4.medium-2.no-pad-sides.z-index-8
              .hollow.secondary.expanded.button.top-button
                %i.fa.fa-bookmark-o
                Follow
            .columns.small-4.medium-2.no-pad-left
              .icon-block
                %i.fa.fa-share-square-o
                %i.fa.fa-envelope-o
                %i.fa.fa-usd
      .row
        .columns.small-12.medium-6
          .widget-container
            %img{ src: "http://placehold.it/420x300/DDD?text=stream", width: "100%" }
          .widget-container
            %img{ src: "http://placehold.it/420x300/DDD?text=songs", width: "100%" }
          .widget-container
            %img{ src: "http://placehold.it/420x350/DDD?text=recently", width: "100%" }
        .columns.small-12.medium-6
          = react_component "UserDescriptionContainer"
            
          .widget-container
            %img{ src: "http://placehold.it/420x400/DDD?text=photos", width: "100%" }
          .widget-container
            %img{ src: "http://placehold.it/420x200/DDD?text=events", width: "100%" }

    .columns.medium-3
      .row.hide-for-small-only.side-ads
        .columns.small-12
          %img{ src: "http://placehold.it/260x180/DDD?text=Ad+goes+here!", width: "100%", height: "100%" }
        .columns.small-12
          %img{ src: "http://placehold.it/260x180/DDD?text=Ad+goes+here!", width: "100%", height: "100%" }
        .columns.small-12
          %img{ src: "http://placehold.it/260x180/DDD?text=Ad+goes+here!", width: "100%", height: "100%" }

      .widget-container
        %img{ src: "http://placehold.it/420x150/DDD?text=Blogs", width: "100%" }