.container.errors-page
  .row.align-center
    .small-12.medium-6.columns.error-404-lord-column
      %div.header-lord Lord,
      %div.subheader-lord have mercy!
      %div.common-lord We can't seem to find the page scripture is on.
      %div.common-lord Check back with us once service is over.
    .small-12.medium-4.columns
      .big-pink-error.header-404 404
      .big-pink-error.error-404 error
      .image-pastor-404.show-for-medium 
        = image_tag "error-pages/404-pastor.png"

.container.errors-page-contact
  .row.align-center
    .small-12.medium-8
      %p.text-center
        Taking the first steps into any new technology can be daunting and 
        we want to help make your transition smooth and stress free. Send us a
        message with your questions or concerns and we will be sure to respond 
        promptly. 
        %br/
        %br/
        Please fill out the form below.
      = render "landing/contact_form"

  
  
