// Mixins
// ------

@mixin container-shadow() {
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.17);
}


// Common extendables
// ------------------

.white-block {
	@include container-shadow();
	background-color: white;
	border: none;
	margin: 0;
}

// Helper Classes
// --------------

.no-pad-right {
	padding-right: 0;
}

.no-pad-left {
	padding-left: 0;
}

.no-pad-sides {
	padding-left: 0;
	padding-right: 0;
}

.z-index-10 {
	position: relative;
	z-index: 10;
}

.z-index-9 {
	position: relative;
	z-index: 9;
}

.z-index-8 {
	position: relative;
	z-index: 8;
}