/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "foundation_and_overrides";
@import "scaffolds";
@import "landing";

$bodycolor: #969695;
$green: #47DA7A;

body {
  color: $bodycolor;
  font-family: "Open Sans", arial, helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5rem;
}

ul {
  margin-left: 0;
}

.title-row {
  position: absolute;
  left: 0;
  top: 1.5rem;
  right: 0;
  @include breakpoint(large down) {
    padding: 0 rem-calc(23);
  }
}

.title-bar-right {
  margin-top: 2rem;
  position: relative;

  @include breakpoint (small down) {
    margin-top: 1.5rem;
  }

  ul {
    position: absolute;
    right: 0;
    top: 1.5rem;
  }
}

.top-bar, .title-bar {
  background: transparent;
  ul {
    background: transparent;
  }
  .title-brand {
    > img {
      display: inline-block;
      width: rem-calc(250);

      @include breakpoint(small down) {
        width: rem-calc(200);
      }
    }

    &:hover {
      background: transparent;
    }
  }

  .menu {
    margin-top: rem-calc(30);

    a {
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      text-transform: uppercase;
      color: white;
      padding: rem-calc(15) rem-calc(30);
      font-size: rem-calc(13);
      letter-spacing: rem-calc(1);

      &:hover {
        background: transparent;
        text-decoration: underline;
      }
    }
  }
}

ul#dropdown-menu {
  display: block;
  background: rgba(200,200,200,0.5);
  border-radius: 0 0 rem-calc(5) rem-calc(5);
  padding: rem-calc(10);
  margin-top: rem-calc(10);
  width: rem-calc(150);
  li {
    padding: rem-calc(5) 0;
  }
}

img {
  max-width: 100%;
  display: inline-block;
}

.container:not(.navbar-container) {
  padding: rem-calc(55) rem-calc(10);
}

a:hover {
  background: transparent;
}

p, ol, ul, td {
  font-family: "Open Sans",verdana,arial,helvetica,sans-serif;
  font-size: rem-calc(16);
  font-weight: 300;
  letter-spacing: rem-calc(0.2);
  line-height: rem-calc(24.85);
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #2c2c2c;
  font-size: rem-calc(27);
  font-weight: 300;
  letter-spacing: rem-calc(0.68);
  line-height: rem-calc(40);
  margin-bottom: rem-calc(37);
  margin-top: 0;
}
strong, .strong {
  color: #2c2c2c;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: rem-calc(15);
  letter-spacing: rem-calc(0.43);
  line-height: rem-calc(17);
  font-weight: normal;
}
p {
  margin-bottom: rem-calc(27);
  margin-top: rem-calc(20);
}

.nopad-bottom {
  padding-bottom: 0 !important;
}

.flex-table {
  display: flex;
  align-items: stretch;
  flex-flow: row nowrap;
}

.flex-table-column {
  display: flex;
  align-items: stretch;
  flex-flow: column nowrap;
}

.flex-grow {
  flex-grow: 1;
}

.flex-end {
  align-items: flex-end;
}

blockquote {
  display: inline-block;
  position: relative;
  border-right: 0 !important;
  padding-top: 0 !important;
  border: 0 !important;

  &:before {
    position: absolute;
    left: rem-calc(-50);
    top: rem-calc(-30);
    content: ' ';
    width: rem-calc(44);
    height: rem-calc(38);
    background: asset-url('quotes.png') center no-repeat;
  }

  footer {
    &:after {
      display: none;
    }
  }

  p {
    margin-top: rem-calc(-4);
  }
}

@media only screen and (max-width : rem-calc(992)) {
  blockquote {
    &:before {
      display:none;
    }
  }
} 

.font-12 {
  font-size: rem-calc(12);
}

.copyright {
  /* Copyright © 2016 The: */
  font-family: Arial, sans-serif;
  font-size: rem-calc(11);
  color: #FFDD22;
  letter-spacing: rem-calc(0.1);
  line-height: rem-calc(22);
}

.bg-fill {
  background-size: contain !important;
}

.callout {
  border: 0;
}

.hidden {
  display: none !important;
}

.media-object {
  display: inline-block;

  .media-object-section {
    vertical-align: middle;
  }

  .thumbnail {
    border: 0;
    box-shadow: 0 0 0 transparent;
  }

  h4 {
    font-size: rem-calc(24);
    color: $black;
    margin-bottom: 0;
  }

  p {
    margin-top: 0;
    color: #838383;
    font-weight: 300;
  }
}

.text-white {
  color: $white;
}

a.dark_text {
  color: $bodycolor;

  &:hover {
    color: $bodycolor;
  }

  &:visited {
    color: $bodycolor;
  }
}

button[type=submit] {
  background: $green;
  border-radius: rem-calc(3) !important;
  color: white;
  padding: rem-calc(15) rem-calc(50);
}

input[type=text], input[type=email], input[type=tel] {
  border: rem-calc(1) solid #ddd;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  box-shadow: 0 0 0 transparent;

  textarea, &:focus {
    border-color: #c2c2c2;
  }
}

textarea {
  margin-top: 2rem;
}
