/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "scaffolds";
@import "landing";

img {
  max-width: 100%;
  display: inline-block;
}

.container:not(.navbar-container) {
  padding-top: 55px;
  padding-bottom: 55px;
}

a:hover {
  background: transparent;
}

p, ol, ul, td {
  font-family: "Open Sans",verdana,arial,helvetica,sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.2px;
  line-height: 24.85px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #2c2c2c;
  font-family: "Open Sans";
  font-size: 27px;
  font-weight: 300;
  letter-spacing: 0.68px;
  line-height: 40px;
  margin-bottom: 37px;
  margin-top: 0;
}
strong, .strong {
  color: #2c2c2c;
  letter-spacing: 0.43px;
  line-height: 17px;
}
p {
  margin-bottom: 27px;
  margin-top: 20px;
}

.nopad-bottom {
  padding-bottom: 0 !important;
}

.flex-table {
  display: flex;
  align-items: stretch;
  flex-flow: row nowrap;
}

.flex-table-column {
  display: flex;
  align-items: stretch;
  flex-flow: column nowrap;
}

.flex-grow {
  flex-grow: 1;
}

.flex-end {
  align-items: flex-end;
}
