// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hero-container {
  padding-top: 2rem;
  background: asset-url('landing/home-hero.png') center;
  background-size: cover;
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;

  &.placesearch-hero-container {
    height: rem-calc(596);

    h2 {
      text-align: center;
      font-family: 'Open Sans';

      strong {
        color: white;
        font-size: rem-calc(27);
        font-weight: bold;
      }
    }
  }

  .landing-about & {
    background: asset-url('landing/about-hero.png') center;
    background-size: cover;
    padding-bottom: 3rem;

    @include breakpoint(medium down) {
      padding-bottom: 1rem;
    }

  }

  .landing-contact & {
    background: asset-url('landing/contact-hero.png') center;
    background-size: cover;
    padding-bottom: 3rem;

    @include breakpoint(medium down) {
      padding-bottom: 1.5rem;
    }
  }

  .landing-signup & {
    background: asset-url('landing/signin-hero.png') center;
    background-size: cover;
    padding-bottom: 3rem;

    @include breakpoint(medium down) {
      padding-bottom: 1.5rem;
    }
  }

  .jumbotron {
    background: transparent;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .container {
    padding: 0 !important;
  }

  h2 {
    color: white;
    padding-top: rem-calc(40);
    padding: rem-calc(80);
    font-weight: 400;

    @include breakpoint (medium down) {
      padding: 2rem;
    }
  }
}

.landing-contact {
  padding-bottom: 8rem;
  background: #f3f3f3;

  p.title {
    font-weight: 400;
  }
}

.claims {
  margin-top: rem-calc(10);
  margin-bottom: rem-calc(40);

  span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 2;

    &.big {
      font-size: rem-calc(100);
      color: white;
    }

    &.small {
      font-size: rem-calc(30);
      color: #FFDD22;
    }
  }
}

@media only screen and (max-width: rem-calc(992)) {
  .claims {

    span {
      line-height: 1.5;

      &.big {
        font-size: rem-calc(75);
      }

      &.small {
        font-size: rem-calc(25);
      }
    }
  }
}

@media only screen and (max-width: rem-calc(768)) {
  .claims {
    span {
      &.big {
        font-size: rem-calc(50);
      }

      &.small {
        font-size: rem-calc(20);
        display: none;
      }
    }
  }
}

.bg-lightgrey {
  background: #fBfBfB;
}

.bg-darkgrey {
  background: #f3f3f3;
}

.bg-blue {
  background: #00C0CB;
}

.social-link {
  display: inline-block;
  padding: rem-calc(5);
  a {
    transition: all 1s;
    width: rem-calc(47);

    &:hover {
      transform: scale(1.1) translate(0, rem-calc(10));
    }
  }
}

@media only screen and (max-width: rem-calc(992)) {
  .footer {
    text-align: center;
  }
}

@media only screen and (max-width: rem-calc(768)) {
  .footer {
    ul.footer-links {
      margin-bottom: rem-calc(40);
    }
  }
}

.footer {

  ul.menu {

    > li {
      display: inline-block;

      > a {
        color: white;
        text-transform: uppercase;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: rem-calc(13);
        letter-spacing: rem-calc(1);
        line-height: rem-calc(18);
        font-weight: 400;

        &:hover {
          text-decoration: underline;
        }

        &:visited {
          color: white;
        }
      }

      &:first-child {
        a {
          @include breakpoint(large up) {
            padding-left: 0;
          }
        }
      }
    }
  }
}

div.container-overlay {
  margin: 0 8rem;
  margin-top: -7rem;
  z-index: 100;
  background: white;
  padding-left: 4rem !important;
  padding-right: 4rem !important;
  border: 1px solid #ccc;

  @include breakpoint(medium down) {
    margin: 0 2rem;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    margin-top: -4rem;
  }

  @include breakpoint(small down) {
    margin: 0 1rem;
    margin-top: -4rem;
  }
}

.row.social-row .columns {
  padding-left: rem-calc(35);
  padding-right: rem-calc(35);
}

.social-button {
  padding: rem-calc(15) rem-calc(20);
  background: #acacac;
  padding-left: rem-calc(50);
  color: white;
  display: inline-block;
  font-size: rem-calc(14);
  border-radius: rem-calc(3);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  position: relative;
  width: rem-calc(220);
  margin-top: rem-calc(30);

  &:hover {
    text-decoration: none;
    background: #acacac;
    color: white;
  }

  &:before {
    position: absolute;
    height: rem-calc(20);
    top: rem-calc(17);
    left: rem-calc(22)
  }

  &.button-facebook {
    background: #3b5998;

    &:hover {
      background: #3b5998;
    }

    &:before {
      content: asset-url('landing/facebook-logo.svg');
    }
  }

  &.button-google {
    background: #dd4b39;

    &:hover {
      background: #dd4b39;
    }

    &:before {
      content: asset-url('landing/google_plus-logo.svg');
      left: rem-calc(20)
    }
  }

  &.button-linkedin {
    background: #007bb6;
    &:hover {
      background: #007bb6;
    }

    &:before {
      content: asset-url('landing/linkedin-logo.svg');
      top: rem-calc(16);
      left: rem-calc(21);
    }
  }
}

.place-search-map-container {
  #place-search-map {
    width: 100%;
    height: rem-calc(400);
  }
}

.place-search-list-container {

  .place-search-list-more-button-container {
    .button {
      margin-top: rem-calc(8);
    }
  }

  .place-search-list {
    border: 1px solid #D7D7D7;
    background: #F3F3F3;

    a.church-register {
      float: right;
      font-weight: bold;
      font-size: rem-calc(12);
      padding: rem-calc(12) rem-calc(20);
      background: #47DA7A;
      border-radius: rem-calc(3);
      color: white;
      text-decoration: none;
      line-height: 1;

      &:hover, &:visited {
        text-decoration: none;
      }
    }

    .church-search-entry {
      &:not(:first-child) {
        border-top: 1px solid #D7D7D7;
      }
      display: flex;
      font-family: Helvetica, Arial, sans-serif;
      background: white;
      border-collapse: collapse;

      .church-name {
        color: black;
      }

      .church-address {
        color: #0D85FE;
        font-weight: 300;
        font-size: rem-calc(14);
      }

      .church-thumbnail {
        width: rem-calc(134);
        height: rem-calc(123);
        background-size: cover !important;
        position: relative;

        .church-size {
          position: absolute;
          left: 0;
          bottom: 0;
        }
      }
      .church-details {
        flex: 1;
        padding: rem-calc(10);
        position: relative;
        background: white;
      }

      .church-description {
        font-size: rem-calc(12);
        color: #9B9B9B;
        line-height: 1.3;
        margin-top: rem-calc(10);
        margin-bottom: 0;

        &.unregistered {
          color: #D0021B;
        }
      }

      .church-service-times {
        float: right;
        font-size: rem-calc(14);
        font-weight: 300;
        color: black;
      }

      .church-service-time {
        color: #00C0CB;
        margin-right: rem-calc(5);
      }

      .church-distance {
        position: absolute;
        right: rem-calc(10);
        bottom: rem-calc(10);
        color: #54DA6D;
        font-size: rem-calc(36);
        font-weight: 300;
        text-align: right;

        .smaller {
          font-size: rem-calc(20);
        }
      }
    }
  }
}



