// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hero-container {
  padding-top: rem-calc(140);
  background: asset-url('landing/home-hero.png') center;
  background-size: cover;
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;

  .landing-about & {
    background: asset-url('landing/about-hero.png') center;
    padding-bottom: 3rem;

    @include breakpoint(medium down) {
      padding-bottom: 1rem;
    }

  }

  .landing-contact & {
    background: asset-url('landing/contact-hero.png') center;
    padding-bottom: 3rem;

    @include breakpoint(medium down) {
      padding-bottom: 1.5rem;
    }
  }

  .jumbotron {
    background: transparent;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .container {
    padding: 0 !important;
  }

  h2 {
    color: white;
    padding-top: rem-calc(40);
    padding: rem-calc(80);
    font-weight: 400;

    @include breakpoint (medium down) {
      padding: 2rem;
    }
  }
}

.landing-contact {
  padding-bottom: 8rem;
  background: #f3f3f3;

  p.title {
    font-weight: 400;
  }
}

.claims {
  margin-top: rem-calc(10);
  margin-bottom: rem-calc(40);

  span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 2;

    &.big {
      font-size: rem-calc(100);
      color: white;
    }

    &.small {
      font-size: rem-calc(30);
      color: #FFDD22;
    }
  }
}

@media only screen and (max-width : rem-calc(992)) {
  .claims {

    span {
      line-height: 1.5;

      &.big {
        font-size: rem-calc(75);
      }

      &.small {
        font-size: rem-calc(25);
      }
    }
  }
} 

@media only screen and (max-width : rem-calc(768)) {
  .claims {
    span {
      &.big {
        font-size: rem-calc(50);
      }

      &.small {
        font-size: rem-calc(20);
        display: none;
      }
    }
  }
} 

.bg-lightgrey {
  background: #fBfBfB;
}

.bg-darkgrey {
  background: #f3f3f3;
}

.bg-blue {
  background: #00C0CB;
}

.social-link {
  display: inline-block;
  padding: rem-calc(5);
  a {
    transition: all 1s;
    width: rem-calc(47);

    &:hover {
      transform: scale(1.1) translate(0, rem-calc(10));
    }
  }
}

@media only screen and (max-width : rem-calc(992)) {
  .footer {
    text-align: center;
  }
} 

@media only screen and (max-width : rem-calc(768)) {
  .footer {
    ul.footer-links {
      margin-bottom: rem-calc(40);
    }
  }
} 

.footer {

  ul.menu {

    > li {
      display: inline-block;

      > a {
        color: white;
        text-transform: uppercase;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: rem-calc(13);
        letter-spacing: rem-calc(1);
        line-height: rem-calc(18);
        font-weight: 400;

        &:hover {
          text-decoration: underline;
        }

        &:visited {
          color: white;
        }
      }

      &:first-child {
        a {
          @include breakpoint(large up) {
            padding-left: 0;
          }
        }
      }
    }
  }
}

div.container-overlay {
  margin: 0 8rem;
  margin-top: -7rem;
  z-index: 100;
  background: white;
  padding-left: 4rem !important;
  padding-right: 4rem !important;
  border: 1px solid #ccc;

  @include breakpoint(medium down) {
    margin: 0 2rem;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    margin-top: -4rem;
  }

  @include breakpoint(small down) {
    margin: 0 1rem;
    margin-top: -4rem;
  }
}
