<div class="container">
  <div style="margin-top:80px"></div>
  <h1><%= @establishment.name %></h1>
  <%= image_tag(@yelp_image, alt: "Image for #{@establishment.name}") %>

  <h4>This church hasn't been add to The Fellowship App yet</h4>
  <div class="btn btn-default">Request Add</div>
</div>